# Custom
data/*
data_arch/*
DS_Store
.DS_Store
.vscode/*
README~
.vscode*.json

# Prerequisites
*.d
tools/*.d
codes/*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
codes/*.o
tools/*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
codes/*.so
tools/*.so


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
